<!DOCTYPE html>
<html>
  <head>
	<title> Assinatura MIDIAVOX</title>
    <meta charset="utf-8">
	<meta name="color-scheme" content="only">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="generateMail.css">
	<script src="generateMail.js"></script>
  </head>
  <body>
	  <div id="capsule" oninput="waitToTry()">
		  <div id="formArea">
			  <table id="formTable">
				  <tr>
					  <th>
						<label class="labelData">Nome :</label>
					  </th>
					  <th>
						<input class="inputArea" id="nome" type="text">
					  </th>
				  </tr>
				  <tr>
					<th>
						<label class="labelData">Celular :</label>
					</th>
					<th>
						<input class="inputArea" id="celular" type="text" value="+55 81" placeholder="XX XXXXX-XXXX">
					</th>
				  </tr>
				  <tr>
					  <th>
						  <label class="labelData">Número Empresa :</label>
					  </th>
					  <th>
						  <input class="inputArea" id="corpPhone" type="text" value="+55 81 3412-0900">
					  </th>
				  </tr>
				  <tr>
					  <th>
						<label class="labelData">Email :</label>
					  </th>
					  <th>
						<input class="inputArea" id="mail" type="text" value= "@midiavox.com.br">
					  </th>
				  </tr>
				  <tr>
					<th>
					  <label class="labelData">Skype :</label>
					</th>
					<th>
					  <input class="inputArea" id="skype" type="text">
					</th>
				</tr>
				<tr>
					<th>
						<input type="checkbox" id="officeCheck" onclick="setCheck()">
						<label>Aviso fora de escritório</label>
					</th>
				</tr>
				<tr class="officeInput">
					<th>
						<label> Inicio :</label>
					</th>
					<th>
						<input id="startOffice" type="date">
					</th>
				</tr>
				<tr class="officeInput">
					<th>
						<label> Fim :</label>
					</th>
					<th>
						<input id="endOffice" type="date">
					</th>
				</tr>
				<tr>
					<th>
						<input type="checkbox" id="holidayCheck" onclick="setCheck()">
						<label>Aviso de feriado</label>
					</th>
					<th>
						<button class="holidayContent" onclick="addHoliday()"> Adicionar </button>
					</th>
				</tr>
				<tr class="holidayInput">
					<th>
						<label> Inicio :</label>
					</th>
					<th>
						<input type="date" id="startHoliday">
					</th>
				</tr>
				<tr class="holidayInput">
					<th>
						<label> Fim :</label>
					</th>
					<th>
						<input type="date" id="endHoliday">
					</th>
				</tr>
				<tr class="holidayContent">
					<th></th>
					<th id="listEraseButt"></th>
				</tr>
				<tr>
					<th>
						<input type="checkbox" id="vacationCheck" onclick="setCheck()">
						<label>Aviso de ferias</label>
					</th>
				</tr>
				<tr class="vacationInput">
					<th>
						<label> Inicio :</label>
					</th>
					<th>
						<input id="startVacation" type="date">
					</th>
				</tr>
				<tr class="vacationInput">
					<th>
						<label> Fim :</label>
					</th>
					<th>
						<input id="endVacation" type="date">
					</th>
				</tr>
			</table>
		  </div>
		  <div id="formResult">
			<div id="outputImg">
			</div>
			<button class="buttCopy" onclick="doCopyTable('outputImg')"> Copiar para Outlook</button>
			<textarea id = "htmlText"></textarea>
			<button class="buttCopy" onclick="doCopy()">Copiar para Thunderbird</button>
		  </div>
	  </div>
  </body>
</html>